# IntelliJ
*.iml
/.idea/*
/projectFilesBackup*/


# Android
*.ap_
*.apk
*.class
*.dex
*.jks
.cxx
.externalNativeBuild
local.properties
signing.properties
.gradle/
.navigation/
bin/
build/
captures/
gen/
out/
proguard/
sources/


# OS
.DS_Store
Thumbs.db


# Other
*.log
_/
